services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: masum-portal-server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    restart: unless-stopped

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: masum-portal-client
    ports:
      - "3000:3000"
    env_file:
      - ./client/.env.local
    depends_on:
      - server
    restart: unless-stopped
